body {

  color: rgb(255,182,193);

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;;
  font-family: 'indie flower', cursive;
  font-size: 20px;



  background-image: url("https://i.imgur.com/79TmLHm.png");
  background-size:auto;
  background-position: center;


  }

        .topnav {
         background-color: #FFF0f5;
         overflow: hidden;
    }

      .topnav a {
      float: left;
      color: #8D38C9;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      font-family: sans-serif;

  }

  .topnav a:hover {

    background-color: #00FA9A;
    color: black;

     }

     .topnav.a.active {
       background-color: blue;
       color: white
     }


     h1,h2 {

  text-align: center;
       }

    h1   {

  color:rgb(255,182,193)

    }

   h2 {

  colour:rgb(255,182,193)
  font-size: 2em
    }

p {
  font-size: 1em;
  text-align: center;

}

}

}

img{

  display: flex;

     margin: 0 auto;

    padding: 20px;

    border-radius:130px;

  }
